@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --primary-lightColor: #ffffff;
  --primary-mainColor: #f9ab00;
  --errorColor: #ff4a4a;
  --primary-picColor: #efb6b2;
  --secondary-picColor: #4e4e4e;
}

body {
  /* font-family: "Roboto Condensed", sans-serif; */
  font-family: "Noto Serif";
  color: var(--secondary-picColor);
}
.app {
  max-width: 960px;
  margin: 0 auto;
}

/*-------------------- Navbar Logo-------------------- */
.logo {
  height: 5rem;
  margin-left: 0;
}
/*-------------------- Navbar links --------------------*/
nav .nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}
nav ul li {
  text-transform: uppercase;
}

.navbar-brand {
  max-width: 30%;
  padding: 0 !important;
}

.nav-link:hover {
  border-bottom: 0.1875rem solid var(--primary-mainColor);
}
.nav-link.active,
.nav-link:focus {
  border-bottom: 0.1875rem solid var(--primary-mainColor);
}
.navbar-toggler-icon {
  background-color: var(--primary-mainColor);
}
/* ---------------------Header-------------------- */
.header-wraper {
  position: relative;
  background: url(../images/lg-bg-black.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}
.main-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Condensed", sans-serif;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.main-info h1 {
  color: var(--primary-mainColor);
  text-transform: uppercase;
}
.main-info p {
  color: var(--primary-lightColor);
  line-height: 3rem;
  font-size: 130%;
}
/* ---------------------Header Main Offer Button------ */
.btn-main-offer {
  border: 3rem;
  text-transform: uppercase;
  border-radius: 10%;
  margin: 4rem;
  padding: 0.5rem;
  background-color: var(--primary-mainColor);
}
.btn-main-offer:hover {
  text-decoration: none;
  transform: scale(1.1);
}
/* ---------------------Footer-------------------- */
.footer-link {
  color: var(--primary-lightColor);
}
.footer-link:hover {
  color: var(--primary-mainColor);
}

/* -------------PictureTitle--------------- */
.title h1 {
  color: var(--primary-picColor);
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: normal;
}

.title h2,
.title p {
  text-align: center;
}
.title h2 {
  margin-top: 60px;
  font-size: 2.6rem;
}
/* login form/ */
.loginForm {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 480px) {
  .loginForm {
    align-items: center;
  }
}
